@import "../../styles/index.scss";

.header{
    padding-left: 165px;
    padding-right: 140px;
    position: relative;
    top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 1240px) {
        padding-left: 100px;
        padding-right: 10px;
    }
    @media only screen and (max-width: 780px) {
        padding-left: 0px;
        flex-direction: column;
    }
    



&-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 780px) {
        flex-direction: column;
    }

    .nav-links{
        text-decoration: none;
        color: #18191F;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-right: 25px;
        transition: all 0.5s ease-in-out;
    position: relative;
 
    @media only screen and (max-width: 990px) {
    margin-right: 14px;
    font-size: 12px;
    }
    @media only screen and (max-width: 780px) {
        margin-bottom: 5px;
        font-size: 16px;
        margin-right: 0;
        }
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: 2px;
      margin: 2px 0 0;
      transition: all 0.75s ease-in-out;
      transition-duration: 0.75s;
      opacity: 0;
      background-color:  #18191F;;
      left: 0;
    }

    }
  
    .nav-links:hover{
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
          @media only screen and (max-width: 780px) {
            margin-bottom: 10px;
        }
    }
  
}


}
}
.nav-button{
       
    @media only screen and (max-width: 990px) { 
        font-size: 12px !important;
        }
        @media only screen and (max-width: 780px) {
            font-size: 16px !important;
        }
    }