@import "../../styles/index.scss";

.footer{
    background-color: #0B0D17;
    padding-top: 32px;
    padding-bottom: 36px;

&-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
&-part1{
    justify-content: space-between;
    display: flex;
    color: #fff;
    margin-bottom: 20px;
    &-text{
        margin-right: 24px; 
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
    &-text:last-of-type{
        margin:0;
    }
}
&-part2{
    display: flex;
    img{
        margin-right: 24px;
        
    }
    img:hover{
        cursor: pointer;
    }
    img:last-of-type{
        margin: 0;
    }
}


}