@import "../../styles/index.scss";

.merchants {
  padding-left: 165px;
  padding-top: 80px;
  padding-bottom: 60px;
  @media only screen and (max-width: 1240px) {
    padding-left: 100px;
    
}

  .merchants-container {
    .heading3 {
      padding-bottom: 48px;
    }
    .cards-container {
      display: flex;
      flex-wrap: wrap;
      column-gap: 22px;
      row-gap: 30px;
      @media only screen and (max-width: 645px) {
        justify-content: center;
        padding-right: 100px;
      }
    }
    .about {
      padding-top: 20px;
      padding-bottom: 9px;
      color: #969bab;
    }
    .image-div{
      overflow: hidden;
      border-radius: 10px;
    }
    .image-div img{
      transform-origin: 50% 65%;
      transition: transform 5s, filter 3s ease-in-out;
    }
    .image-div:hover img{
      transform: scale(2);
    }


    .merchant-end {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 100px;
      @media only screen and (max-width: 645px) {
      text-align: center;
     
      }
    

      .merchant-tagline {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        padding-top: 73px;
        padding-bottom: 25px;
      }
      .merchant-button {
       padding-left: 30px;
       padding-right: 30px;
      }
    }
  }
}
